@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black dark:bg-neutral-900 dark:text-neutral-100;
  }

  hr {
    @apply border-gray-200 dark:border-neutral-700;
  }
}

p > a {
  text-decoration: underline;
  font-weight: 500;
  text-decoration-color: #a3a3a3;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 2px;
}

.dark p > a {
  text-decoration-color: #525252;
}

span > a {
  text-decoration: underline;
  font-weight: 500;
  text-decoration-color: #a3a3a3;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 2px;
}

.dark span > a {
  text-decoration-color: #525252;
}

* {
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
